@model List<AppTenis.Models.Entities.Carrito>

@{
    ViewBag.Title = "Carrito de Compras";
    Layout = "~/Views/Shared/Pagina_Usuario.cshtml";

    
    int totalCantidad = 0;
    foreach (var item in Model)
    {
        totalCantidad += item.cantidad;
    }
}

<h2>Carrito de Compras</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idProducto</td>
                    <td>@item.Producto.nombre</td>
                    <td>@item.Producto.descripcion</td>
                    <td>@item.Producto.precio</td>
                    <td>@item.cantidad</td>
                    <td>@(Convert.ToDecimal(item.Producto.precio) * item.cantidad)</td>
                </tr>
            }
        </tbody>
    </table>

    <p>Total de productos en el carrito: @totalCantidad</p>

    <form action="@Url.Action("RealizarCompra", "Productos")" method="post">
        <button type="submit">Realizar Compra</button>
    </form>

    <a href="@Url.Action("Catalogo", "Productos")" class="btn btn-primary">Seguir Comprando</a>
}
else
{
    <p>No hay productos en el carrito.</p>
}


